@mixin mobile {
    @media screen and (max-width:480px) {
        @content
    }
}

@mixin tablet {
    @media screen and (max-width:768px) {
        @content
    }
}

@mixin laptop {
    @media screen and (max-width:1200px) {
        @content
    }
}

::-webkit-scrollbar {
    background-color: var(--Background);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--green), var(--orange));
    border-radius: 10px;
}

//animation
@keyframes left {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.FromLeft {
    animation: left linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes bottom {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.FromBottom {
    animation: bottom linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

@keyframes Top {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.FromTop {
    animation: Top linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

@keyframes right {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.FromRight {
    animation: right linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

// end of animation
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .5px;
}

:root {
    --black: #111111;
    --white: #ffffff;
    --soft-blush: #F2C7C7;
    --cherry-pink: #FFB7C5;
    --soft-gold: #C6A14A;
    --grey: #ABABAB;
    --light-grey: #f5f3f0;

}

* {
    padding: 0;
    margin: 0;
}

.heading {
    font-family: "Playfair", serif
}

.paragraph {
    font-family: "Inter", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    height: 70px;
    border-bottom: 1px solid var(--soft-gold);
    background: var(--white);

    .left {
        a {
            text-decoration: none;

            h1 {
                color: var(--black);
                font-size: 40px;

                @include mobile {
                    font-size: 30px;
                }
            }
        }
    }

    // left ends here
    .middle {
        ul {
            display: flex;
            list-style: none;
            gap: 30px;

            li {
                a {
                    text-decoration: none;
                    color: var(--black);
                    font-size: 18px;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: var(--soft-gold);
                    }
                }

            }
        }
    }

    // middle ends here
    .right {
        ul {
            display: flex;
            list-style: none;
            gap: 30px;

            li {
                a {
                    text-decoration: none;
                    color: var(--black);
                    font-size: 18px;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: var(--soft-gold);
                    }
                }
            }
        }
    }

    @include mobile {
        padding-inline: 20px;

        .middle {
            display: none;
        }
    }
}

// navbar ends here

body {
    background-color: var(--white);
}

.hero {
    position: relative;
    height: calc(100vh - 70px);
    width: 100%;
    background: var(--white);

    // background: linear-gradient(45deg, var(--white), var(--soft-blush));
    .overlay {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, var(--white), var(--soft-blush));
        z-index: 1;
        opacity: 0.5;
    }

    .h-main {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: 20px;

        h2 {
            color: var(--grey);
            font-size: 14px;
            letter-spacing: 2px;
            display: inline-block;
            margin-bottom: 20px;
        }

        h1 {
            color: var(--black);
            font-size: 80px;
            line-height: 1.1;
            margin-bottom: 24px;

            @include mobile {
                font-size: 40px;
            }
        }

        p {
            font-size: 18px;
            line-height: 1.7;
            color: var(--grey);
            margin-bottom: 32px;
        }

        .btns {
            display: flex;
            gap: 16px;

            button {
                padding: 14px 28px;
                text-decoration: none;
                font-weight: 500;
                font-size: 16px;
                transition: all 0.3s ease;
                border: none;
                cursor: pointer;
                outline: none;

                &:first-child {
                    background: var(--black);
                    color: var(--white);

                    &:hover {
                        box-shadow: 5px 5px 0 var(--black);
                        background: var(--soft-gold);
                    }

                }

                &:last-child {
                    background: var(--soft-blush);
                    color: var(--black);

                    &:hover {
                        background: var(--soft-gold);
                        color: var(--white);
                        box-shadow: 5px 5px 0 var(--soft-blush);
                    }

                }
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// hero ends here
.newarrivals {
    width: 100%;
    background: var(--white);
    padding-inline: 20px;
    margin-top: 80px;
    margin-bottom: 120px;

    h2 {
        font-size: 14px;
        letter-spacing: 3px;
        font-weight: 500;
        color: var(--grey);
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        h1 {
            font-size: 48px;
            color: var(--black);
            font-weight: 600;
            line-height: 1.1;
        }

        button {
            padding: 12px 24px;
            background: transparent;
            color: var(--black);
            border: none;
            cursor: pointer;
            outline: none;
            font-size: 16px;
            font-weight: 500;
            transition: all 0.5s ease;
            display: inline-flex;
            align-items: center;
            gap: 8px;

            ion-icon {
                transition: transform 0.3s ease;
            }

            &:hover {
                background: var(--soft-blush);
                color: var(--black);

                ion-icon {
                    transform: translateX(6px);
                }
            }
        }
    }

    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;

        @include laptop {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            grid-template-columns: 1fr;
        }

        a {
            text-decoration: none;

            &:hover {
                .product {
                    img {

                        transform: scale(1.05);

                    }
                }

                h3 {
                    text-decoration: underline;
                }
            }

            .product {
                background: var(--white);
                padding: 16px;
                display: flex;
                flex-direction: column;
                align-items: left;
                gap: 16px;

                .imgbox {
                    overflow: hidden;
                }

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    transition: all 0.4s ease;
                    aspect-ratio: 4/5;
                }

                h3 {
                    font-size: 20px;
                    color: var(--black);
                    font-weight: 500;
                    margin-top: 16px;
                    transition: all 0.4s ease;
                }

                .category {
                    font-size: 16px;
                    color: var(--grey);
                    margin-top: 4px;
                    font-weight: 500;
                }

                p {
                    font-size: 18px;
                    color: var(--grey);
                    font-weight: 500;
                    color: var(--black);
                }
            }
        }
    }
}

// newarrivals ends here
.category-highlight {
    padding: 100px 20px;
    background: var(--light-grey);

    .category-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .category-card {
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            object-fit: cover;
            transition: 0.6s ease;
        }

        .overlay {
            position: absolute;
            bottom: 30px;
            left: 30px;
            color: var(--white);

            span {
                font-size: 12px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: var(--grey);
            }

            h3 {
                font-size: 32px;
                font-weight: 400;
            }
        }

        &:hover img {
            transform: scale(1.05);
        }
    }
}

// category-highlight ends here
.newsletter {
    padding: 120px 0;
    text-align: center;
    background: var(--white);

    h2 {
        font-size: 36px;
        font-weight: 400;
    }

    p {
        margin: 15px 0 30px;
        color: var(--grey);
    }

    .small {
        font-size: 12px;
    }

    .subscribe-form {
        display: flex;
        justify-content: center;
        gap: 10px;

        input {
            width: 300px;
            height: 48px;
            padding: 0 15px;
            border: 1px solid var(--grey);
            outline: none;

        }

        button {
            height: 48px;
            padding: 0 25px;
            background: var(--black);
            color: var(--white);
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                box-shadow: 5px 5px 0 var(--black);
                background: var(--soft-gold);
            }
        }
    }

}

// news leter section ends here
.footer {
    background: var(--soft-blush);
    padding: 100px 20px;

    .footer-grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        gap: 80px;
        margin-bottom: 80px;
    }

    h4 {
        font-size: 28px;
        margin-bottom: 20px;
        font-weight: 500;
    }

    p {
        font-size: 14px;
        color: var(--light-grey);
        margin-bottom: 20px;
        line-height: 1.6;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: var(--light-grey);
            font-size: 14px;
            transition: 0.3s;

            &:hover {
                color: var(--black);
            }
        }
    }

    .footer-form {
        display: flex;
        gap: 10px;

        input {
            flex: 1;
            height: 45px;
            padding: 0 12px;
            border: 1px solid var(--black);
            background: var(--white);
        }

        button {
            height: 45px;
            padding: 0 20px;
            background: #111;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                box-shadow: 5px 5px 0 var(--black);
                background: var(--soft-gold);
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        border-top: 1px solid var(--white);

        .logo {
            font-size: 20px;
            letter-spacing: 2px;
        }

        .copyright {
            font-size: 13px;
            color: var(--light-grey);
        }
    }
}